<div class="row">
  <br>
  <br>
  <p>
    environment-detail works!
  </p>

  <div *ngIf="environment">
    <h1>Name: {{ environment.name }}</h1>
  </div>
  <div *ngIf="! environment">
    <h1>AUCUN SELEC</h1>
  </div>

  <div *ngIf="environmentService.selectedEnvironment">
    <h1>Name: {{ environmentService.selectedEnvironment.name }}</h1>

  </div>

  <div *ngIf="environmentDetail">
    <div class="row">
      <div *ngFor="let url of environmentDetail.urls" class="col-xs-6 col-md-3 col-lg-2">
        <a [href]="url.url" target="new">
          <img [src]="url.image_url"><br></a>
        <p>{{ url.desc}}</p>
      </div>

    </div>
  </div>
</div>
